@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
.zr-section-title,
header .zrmenu li a {
  position: relative;
}
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: #000b1b;
  color: #e9eeff;
  
}
.zrexpstepcontainer h4.zr-current,
.zrprocard:hover h4,
header .zrmenu li a.active {
  color: #ffb300;
}
header .zrmenu li {
  counter-increment: item 1;
}
header .zrmenu li a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: #ffb300;
}
header .zrmenu li a:not(.active):hover {
  opacity: 0.7;
}
.zrcontainer {
  max-width: 1440px;
  margin-inline: auto;
}
.zr-section-title {
  letter-spacing: 1px;
  display: inline-block;
  margin-block: auto;
  padding-bottom: 6px;
}
.zr-section-title::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #ffb300;
  border-radius: 10px;
  bottom: 0;
  left: 0;
}
.zrdescription {
  color: #8892b0;
}

section {
  opacity: 0;
  transform: translateY(6px);
  transition: 0.8s;
}
.show-section {
  animation: 0.8s forwards aniShowSection;
}
.zrexpiconbox,
.zrinfoiconbox {
  background-color: #00040a;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
  position: relative;
  border-radius: 10px;
}
.zrinfoiconbox {
  background-color: transparent;
}
.zrlogo {
  scale: 1.1;
}
.zrexpiconbox::before,
.zrinfoiconbox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #202021;
  border-radius: inherit;
  z-index: -1;
}
.seemorecard{
  display: block;
  position: relative;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.zrprocard .zrproimg {
  overflow: hidden;
  display: block;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.zrprocard .zrproimg img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.3s;
}
.zrprocard:hover .zrproimg img {
  transform: scale(1.2);
}
.zrabout ul ::marker {
  color: #ffb300;
}
.zrmenuclose img,
.zrmobilemenu img,
.zrsociallink img,
.zrsociallink svg {
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(96%) sepia(36%) saturate(3170%)
    hue-rotate(178deg) brightness(100%) contrast(93%);
}
.zrsociallink a:hover img,
.zrsociallink a:hover svg {
  transition: 0.3s;
  transform: translateY(-6px);
}
.zr-author {
  text-align: center;
  display: none;
}
::-moz-selection {
  color: #0a192f;
  background: #ffb300;
}
::selection {
  color: #0a192f;
  background: #ffb300;
}
@keyframes aniShowSection {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media (max-width: 1023px) {
  header .zrmenu {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: #0a1524;
    max-width: 80%;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translate(-100%);
    transition: 0.5s;
    z-index: 100;
  }
  header .backdrop-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0909095e;
    z-index: 95;
    cursor: pointer;
    pointer-events: auto;
  }
  header .zrmenu ul,
  header .zrmenu.show {
    display: block;
  }
  .anifadeLeftToRight {
    animation: 0.7s forwards fadeLeftToRight;
  }
  .anifadeRightToLeft {
    animation: 0.7s forwards fadeRightToLeft;
  }
  .anifadeIn {
    animation: 0.7s forwards fadeIn;
    pointer-events: auto;
  }
  .anifadeOut {
    animation: 0.7s forwards fadeOut;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
